@{
    Layout = null;
}
<table class="table table-nowrap" id="request-relate-table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã phiếu</th>
            <th>Thời hạn thanh toán</th>
            <th>Người tạo</th>
            <th class="text-right" style="min-width: 130px;">Số tiền</th>
        </tr>
    </thead>
    <tbody id="body_payment_requests">
    </tbody>
</table>